@tailwind base;
@tailwind components;
@tailwind utilities;

.herobg{
    background-image: url(/public/introbg.jpeg);
    background-position: center center;
    padding-bottom:30em;
    background-repeat: no-repeat;
    background-size: cover;
    
}
  